<div class="container">
  <div class="row">
    <h1 class="mx-auto">About</h1>
  </div>
  <div class="row mt-3">
    <p class="text-center mx-auto">
      Salsaはサッカーチームの運営や自分に合ったチームを探すことを目的としたサイトです。<br>
      チームの運営者は対戦相手やメンバーの募集、成績記録、予定管理ができます。<br>
      個人の方はメンバーを募集しているチームから詳細を確認し自分に合ったチームを探すことができます。
    </p>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <div class="about-img"></div>
    </div>
  </div>
</div>