<div class="container">
  <div class="row mt-3">
    <p class="text-center mx-auto">
      ようこそ、Salsaへ！<br>
      このサイトは、サッカーチームの運営や自分に合ったチームを探すことを目的としたサイトです。<br>
      会員でもない方も募集一覧、チーム一覧の閲覧はできますが、<br>
      チーム登録やコメントには会員登録が必要になります。
    </p>
  </div>

  <h2 class="text-center mt-5">新規投稿</h2>

  <div class="col-8 mx-auto">
    <%= render "posts/index", posts: @posts %>
  </div>

</div>