/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*全体*/


table{
  table-layout: fixed;
}

p{
  font-size: 20px;
}

.caption {
  width: 500px;
  padding: 10px 20px;
  color: #fff;
  background: #17a2b8;
  -webkit-box-shadow: 5px 5px 0 #007032;
  box-shadow: 5px 5px 0 #007032;
}






/*topページ*/
.fa-futbol{
  font-size:60px;
}

.top-image{
  height: 600px;
  background-image: image-url("soccer.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


/*アバウトページ*/
.about-img{
  width: 100%;
  height: 400px;
  background-image: image-url("soccer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*チーム一覧ページ*/
.teams-img{
  width: 100%;
  height: 300px;
  background-image: image-url("soccer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-hand-point-down{
  font-size:50px;
}

/*お気に入りicon*/
.fa-star{
  font-size:30px;
}

/*通知icon*/
.fa-bell{
  font-size:30px;
}






