 <div class="container">
   <% if flash[:notice] %>
      <div class="notification text-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification text-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
 </div>